<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">
  <!--Call to action-->
  <div class="pt-4">
    <a class="btn btn-outline-white" href="https://my-services.samakunchan.fr/" target="_blank" role="button"
      >Mes services
      <i class="fas fa-download ml-2"></i>
    </a>
    <a class="btn btn-outline-white" href="https://github.com/samakunchan" target="_blank" role="button"
      >Mes repositories
      <i class="fas fa-graduation-cap ml-2"></i>
    </a>
  </div>
  <!--/.Call to action-->

  <hr class="my-4" />

  <!-- Social icons -->
  <div class="pb-4">

    <a href="https://github.com/samakunchan" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>

    <a href="https://www.linkedin.com/in/cedric-badjah-9646b3141/" target="_blank">
      <i class="fab fa-linkedin mr-3"></i>
    </a>
    <a href="https://www.malt.fr/profile/cedricbadjah" target="_blank">
      Malt
    </a>
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
  </div>
  <!--/.Copyright-->
</footer>
