<app-stepper (stepState)="onGetStepState($event)"></app-stepper>
<ng-container *ngIf="stepper === 'step1'">
  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="lastname" class="bmd-label-floating">Nom</label>
      <input type="text" class="form-control" id="lastname" formControlName="lastname" ngModel="Badjah" />
    </div>
    <div class="form-group">
      <label for="firstname" class="bmd-label-floating">Prénom</label>
      <input type="text" class="form-control" id="firstname" formControlName="firstname" ngModel="Cédric" />
    </div>
    <div *ngIf="sessionStorageMap$ | async as info">
      <button
        *ngIf="info.availability === 'Bleu' || info.availability === 'Vert'"
        type="submit"
        class="btn btn-indigo btn-md"
        [disabled]="reservationForm.invalid"
      >
        Continuer
      </button>
      <button *ngIf="info.availability === 'Orange'" class="btn btn-warning" disabled>La station est vide</button>
      <small *ngIf="info.availability === 'Orange'" class="text-warning">Tout les vélos ont été utilisés.</small>
    </div>
  </form>
</ng-container>
<ng-container *ngIf="stepper === 'step2'">
  <h5>Signer dans le cadre</h5>
  <app-canvas (sessionStorageSign$)="onGetSign($event)"></app-canvas>
  <div class="bg-white w-100 h-1OO"></div>
</ng-container>
