<!-- Horizontal Steppers -->
<div class="row">
  <div class="col-md-12">
    <!-- Stepers Wrapper -->
    <ul class="stepper stepper-horizontal pl-2 pr-2">
      <!-- First Step -->
      <li class="active">
        <a href="javascript:void(0)" (click)="onClickStep1()">
          <span class="circle">1</span>
          <span class="label text-white">Réservation</span>
        </a>
      </li>
      <!-- Second Step -->
      <li class="active">
        <a href="javascript:void(0)">
          <span class="circle">2</span>
          <span class="label text-white">Validation</span>
        </a>
      </li>
    </ul>
    <!-- /.Stepers Wrapper -->
  </div>
</div>
<!-- /.Horizontal Steppers -->
