<!--Section: More-->
<section>
  <h2 class="my-5 h3 text-center">A propos de l'application</h2>
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-6 mb-4">
      <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-main.jpg" class="img-fluid z-depth-1-half" alt="image mdb device" />
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">
      <!-- Main heading -->
      <h3 class="h3 mb-3">Refonte d'un projet étudiant</h3>
      <p>
        Ce projet est l'un des projets étudiant qu'il faut valider pour l'obtention du diplôme de Développeur Web Junior chez
        <strong>OpenClassroom</strong>. Cette application a pour seul but la mise à jour des compétences technologique. Toute la partie réservation
        est <strong>simulé</strong>.
      </p>
      <p><a href="https://openclassrooms.com/fr/paths/185-developpeur-web" target="_blank">Pour plus d'information, cliquer sur le lien.</a></p>
      <!-- Main heading -->
      <hr />
      <p>
        Ce projet a été refait afin de <strong>mettre à jour les compétences</strong>, se former <strong>aux nouvelles technologies</strong> et de
        maintenie la <strong>veille technologique</strong>.
      </p>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
  <!--First row-->
  <div class="row features-small mt-5 wow fadeIn">
    <!--Grid column-->
    <div class="col-xl-3 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fab fa-firefox fa-2x mb-1 indigo-text" aria-hidden="true"></i>
        </div>
        <div class="col-10 mb-2 pl-3">
          <h5 class="feature-title font-bold mb-1">Cross-browser compatibility</h5>
          <p class="grey-text mt-2">Les sites sont construits afin d'être supportés par les navigateurs les plus populaires: Chrome, Firefox, Safari, Opera, Microsoft Edge - MDB ect...</p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-3 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-level-up-alt fa-2x mb-1 indigo-text" aria-hidden="true"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">MDB</h5>
          <p class="grey-text mt-2">Grâce au Material Design for Bootstrap, qui fournit des librairies compilés et prête à l'emploi, les sites sont construit plus rapidement. C'est un gain de temps pour la mise en service des sites web.</p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-3 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-cubes fa-2x mb-1 indigo-text" aria-hidden="true"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">SEO</h5>
          <p class="grey-text mt-2">
            La sémantique, l'architecture du site, les mots-clés ect..., sont soigneusement intégrer afin de permettre le référencement naturel (SEO)
          </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-3 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-question fa-2x mb-1 indigo-text" aria-hidden="true"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">Technical support</h5>
          <p class="grey-text mt-2">Suivre les projets même après la mise en ligne de vos projets est important. Si vous avez des questions, n'hésitez pas me contacter.</p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->
  </div>
  <!--/First row-->


</section>
<!--Section: More-->

