<div class="background-overlay" *ngIf="menuState === 'in'"></div>
<app-header [title]="title" [adressMalt]="adressMalt" [adressWebsite]="adressWebsite" [github]="github"></app-header>
<app-slider></app-slider>

<!--Main layout-->
<main>
  <div class="position-relative">
    <div id="toContainer" class="position-absolute" [ngStyle]="{ top: '-70px' }"></div>
  </div>
  <div class="container">
    <!--Section: Main info-->
    <section class="mt-5 wow fadeIn">
      <!--Grid row-->
      <div class="row">
        <app-map (menuState)="onGetMenuState($event)" (sessionStorage$)="onGetSessionStorage($event)" class="col-md-12"></app-map>
        <app-reservation
          [@slideInOut]="menuState"
          (menuState)="onGetMenuState($event)"
          [sessionStorage$]="sessionStorage$"
        ></app-reservation>
      </div>
      <!--Grid row-->
    </section>
    <!--Section: Main info-->
    <hr class="my-5" />
    <div class="position-relative">
      <div id="toAbout" class="position-absolute" [ngStyle]="{ top: '-70px' }"></div>
    </div>
    <app-about></app-about>
  </div>
</main>
<!--Main layout-->

<app-footer></app-footer>
