:host {
  background: #1a2580;
  color: #fff;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  min-width: 500px;
  z-index: 9999;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  .votre-selection {
    padding: 40px;
    width: 100%;
    border-top: solid;
  }
  .votre-reservation {
    padding: 30px;
    width: 100%;
  }
  .etiquette {
    position: fixed;
    top: 60%;
    padding: 15px;
    left: -80px;
    background-color: #1a2580;
    transform: rotate(-90deg);
    cursor: pointer;
  }
  .sidebar-height {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 100%;
  }
}
