:host {
  background: #1a2580;
  color: #fff;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  min-width: 500px;
  z-index: 9999;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  .votre-selection {
    position: absolute;
    bottom: 0;
    padding: 30px;
    width: 100%;
    border-top: solid;
  }
}
